.sidenavbar{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sideham{
    display: none;
}
.topbars{
    display: flex;
    padding: 5px;
    flex-direction: row;
    background-color: rgb(5, 89, 145);
}
.sidelogo{
    flex-grow: 0.9;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.sidelogo:hover{
    color: white;
}
.sidemenu{
    display: flex;
    flex-direction: row;
}
.sidemenulist{
    background-color: rgb(42, 42, 43);
    height: 100vh;
    display: flex;
    width: fit-content;
    flex-direction: column;
}
.outletsection{
    width:100%;
}
.asidemenulink{
    text-decoration: none;
    color: white;
    margin-top: 3px;
    padding: 7px;
    font-size: 20px;
}
.asidemenulink:hover{
    background-color: rgb(15, 15, 15);
}

.sidemenulistmobile{
    background-color: rgb(42, 42, 43);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    height: 100vh;
    font-size: 20px;
}

@media screen and (max-width:900px) {

    .sideham{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        color: black;
        display: block;
    }
    .sidemenulist{
        display: none;
    }

}